@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --branco-fundo: #ffff;
    --cinza-fundo: rgba(128, 128, 128, 0.06);
    --cor-preto: #464646;
    --cinza-texto: #A3A3A3; 
    --botao-1: #FFB050;
    --botao-3: #4894FF;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--cinza-fundo);
}

.cabecalho {
    display: flex;
    padding: 3em 1.5em  1.3em 1.5em;
}

.cabecalho_info {
    display: inline-block;
    margin-left: 1.5em;
}

.cabecalho_imagem {
    height: 4em;
    border-radius: 50%;
}

.cabecalho_info_titulo {
    color: var(--cor-preto);
    margin-bottom: .3em;
    font-weight: 700;
    font-size: 2.4rem;
}

.cabecalho_info_texto {
    color: var(--cinza-texto);
    font-weight: 400;
    font-size: 1rem;
}

.dia_h2 {
    color: var(--cor-preto);
    font-weight: 700;
    font-size: 1.3em;
    margin: .5em 0 1em 1em;
}

.dia_h2_esp {
    margin-top: 2.3em;
}

.card {
    background-color: var(--branco-fundo);
    margin: 0 1.5em 1.3em 1.5em;
    border-radius: 10px;
}

.card_secao_1 {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.div_wrap {
    display: flex;
    gap: 1em;
}

.card_imagem_perfil {
    height: 3em;
    margin-top: .3em;
    border-radius: 50%;
}

.card_titulo {
    color:  var(--cor-preto);
    font-size: 1.3em;
    font-weight: 700;
}

.card_flex {
    margin-left: 1.3em;
    width: 100%;
}

.card_auxilio_img {
    display: flex;
    justify-content: space-between;
}

.imagem_chat {
    height: 1.1em;
    background-color: rgba(128, 128, 128, 0.072);   
    border-radius: .5em;
    padding: .7em;
}


.card_flex_2 {
    display: flex;
    margin-top: .3em;
    gap: .7em;
}

.card_imagem_camera {
    height: 1em;
    margin-top: 3px;
}

.card_texto_1_camera {
    color: var(--cinza-texto);
    font-weight: 400;
    margin-top: .1em;
}

.card_imagem_pin{
    height: 1.2em;
    margin: 3px;
}

.card_texto_1 {
    color: var(--cinza-texto);
    font-weight: 400;
    margin-top: .2em;
}

.card_linha {
    border-color: rgba(128, 128, 128, 0.089);
}

.card_secao_2 {
    padding: .7em 1.5em 1.5em 1.5em;
}

.card_texto_2 {
    color: var(--cor-preto);
    font-weight: 400;
    margin-bottom: .7em;
}

.card_secao_botoes {
    display: flex;
    justify-content: space-between;;
}

.card_botao_1 {
    text-decoration: none;
    color: var(--branco-fundo);
    cursor: pointer;
    background-color: #FFB050;
    padding: 1em;
    width: 38%;
    border-radius: 8px;
    font-weight: 400;
    text-align: center;
    font-size: .9em;
}

.card_botao_1:hover {
    background-color: #ffb050bf;
    transition: .5s;
}

.card_botao_2 {
    text-decoration: none;
    cursor: pointer;
    color: var(--cor-preto);
    background-color: transparent;
    text-align: center;
    padding: 1em;
    width: 38%;
    border-radius: 8px;
    border: 1px solid #ddddddbf;
    font-weight: 500;
    font-size: .9em;
}

.card_botao_2:hover {
    background-color: rgba(128, 128, 128, 0.048);
    transition: .5s;
}

.card_botao_3 {
    text-decoration: none;
    cursor: pointer;
    color: var(--branco-fundo);
    background-color: var(--botao-3);
    padding: 1.3em;
    width: 90%;
    border-radius: 8px;
    font-weight: 400;
    text-align: center;
    font-size: .9em;
}

.card_botao_3:hover {
    background-color: #4894ffc2;
    transition: .5s;
}

.card_botao_alternativo {
    display: none;
    background-color: var(--botao-1);
}

.card_botao_alternativo:hover {
    background-color: #ffb050bf;
    transition: .5s;
}

.rodape {
    text-align: center;
    background-color: var(--branco-fundo);
    padding: .2em 1em .5em 1em;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    box-shadow: 0px 72px 100px 19px rgba(66, 68, 90, 1);

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.rodape_itens {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    cursor: pointer;
}

.imagem_esp {
    height: 1.6em;
}

.footer_imagens {
    height: 1.5em;
}

.img_item4 {
    height: 1.2em;
    margin-bottom: 4px;
}

.footer_texto {
    color: #4894FF;
    font-weight: 500;
    font-size: 1em;
}

.footer_texto_2 {
    color: var(--cinza-texto);
}

.footer_texto:hover {
    font-weight: 500;
    transition: .5s;
}

.footer_texto_2:hover {
    font-weight: 500;
    transition: .5s;
    color: #4894FF;
}

.botao_flutuante {
    position: fixed;
    right: 20px;
    bottom: 95px;

    background-color: #4894FF;
    color: var(--branco-fundo);
    height: 55px;
    cursor: pointer;
    width: 55px;
    border-radius: 50%;
    border: none;
    padding-top: .1em;

    box-shadow: 0px 0px 40px 6px rgba(0,0,255,0.38);
}

.novaConsulta {
    background-color: var(--branco-fundo);
    margin: 3em 1.8em 3em 1.8em;
    padding: 2em;
    border-radius: 10px;
    display: none;
}

.novaConsulta_formularios {
    display: flex;
    justify-content: space-between;
    gap: 3em;
}

.p_radio {
    margin-bottom: .5em;
}

.input_geral {
    width: 100%;
    border-radius: 8px;
    height: 50px;
    border: 1px solid rgba(128, 128, 128, 0.404);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: var(--cor-preto);
    margin-top: 7px;
    outline: none;
    padding-left: 1em;
    padding-right: 1em;
}

.input_labelGeral {
    font-size: .9rem;
    font-weight: 500;
    color: var(--cor-preto);
}

.novaConsulta_observacao {
    margin-top: 1.5em;
}

.textarea_label {
    color: var(--cor-preto);
    font-size: .9em;
    font-weight: 500;
}

.textarea_geral {
    width: 98%;
    margin-top: .7em;
    border: 1px solid rgba(128, 128, 128, 0.404);
    border-radius: 8px;
    outline: none;
    padding-top: 1.5em;
    padding-left: 1em;
}

.novaConsulta_observacao_div {
    text-align: center;
}

.h2_form {
    display: none;
    margin-top: 6em;
    margin-bottom: 3em;
}

.novaConsulta_botao {
    height: 55px;
    width: 250px;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #4894FF;
    font-size: .9em;
    background-color: var(--branco-fundo);
    border: 1px solid #4894FF;
    display: none;
}

.novaConsulta_botao:hover {
    color: var(--branco-fundo);
    background-color: #4894FF;
    border: 1px solid var(--branco-fundo);
    transition: .5s;
}

.novaConsulta_div_botao {
    width: 97%;
    text-align: right;
    margin-bottom: 3em;
}

.final {
    text-align: center;
    padding-bottom: 6.7em;
}

.final_p {
    color: var(--cinza-texto);
    font-weight: 400;
    font-size: 1.2rem;
}

.final_p_1 {
    margin-bottom: 1em;
}

@media (min-width: 777px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 950px) {
    .novaConsulta {
        display: block;
    }

    .h2_form {
        display: block;
    }

    .botao_flutuante {
        display: none;
    }

    .novaConsulta_div_botao {
        width: 97%;
        text-align: right;
        margin-bottom: 3em;
    }

    .novaConsulta_botao {
        display: inline-block;
    }

}

@media (min-width: 1300px) {
    .novaConsulta {
        font-size: 1.1rem;
    }

    .input_labelGeral {
        font-size: 1.2rem;
    }

    .textarea_label {
        font-size: 1.2rem;
    }

    .h2_form {
        text-align: center;
    }
}

@media (min-width: 1100px) {
    body {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-areas: "rodape conteudo";
    }

    .rodape {
        position: fixed;
        left: 0;
        bottom: 0;
        top: 0;
        width: 13%;

        text-align: center;
        grid-area: rodape;
        border-radius: 0;
        padding-left: 2em;
        padding-top: 1em;
        box-shadow: 0px -4px 8px 0px #0000000F;
    }

    .rodape_itens {
        display: block;
    }

    .footer_item {
        margin-bottom: 50px;
        display: flex;
        gap: 2em;
    }

    .img_item1 {
        height: 1.7em;
    }

    .img_item2 {
        height: 1.4em;
    }

    .img_item3 {
        height: 2em;
    }

    .img_item4 {
        height: 1.3em;
    }

    .content {
        grid-area: conteudo;
    }
}

@media (min-width: 1465px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 388px) {
    .card_botao_1 {
        font-size: .94rem;
    }
    .card_botao_2 {
        font-size: .9rem;
    }
}

@media (max-width: 351px) {
    .card_botao_1 {
       display: none; 
    }
    .card_botao_2 {
        display: none;
    }
    .card_botao_alternativo {
        display: inline-block;
    }
}

@media (max-width: 310px) {
    .footer_texto {
        display: none;
    }
    .footer_texto_2 {
        display: none;
    }
    .img_item4 {
        height: 18px;
        margin-top: 5px;
    }
}